<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.investmobile.invest" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <activity -->
        <!-- android:name=".MainFragment" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.app.default_searchable" -->
        <!-- android:value=".SearchResultsActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".BaseInvestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUpPageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <receiver android:name=".ListWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stock_appwidget" />
        </receiver>

        <service
            android:name=".ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- <activity -->
        <!-- android:name=".SearchResultsFragment" -->
        <!-- android:label="@string/title_activity_search_results" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.app.searchable" -->
        <!-- android:resource="@xml/searchable" /> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".NotificationsFragment" -->
        <!-- android:label="@string/title_activity_notifications" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- </activity> -->
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
